@{
    ViewBag.Title = "About";
}
<style>
    body{
        text-align:center;

    }
</style>
<h1><b>Xây dựng HTTT trên các framewwork - IS220.N11.HTCL</b><h1>
    <p>Giảng viên: Mai Xuân Hùng</p>
    <p><br />Sinh viên thực hiện: <br />Lê Tiến Tuấn Vũ - 20522164 <br />Hồ Mạnh Tiến - </p>

    